<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gcoole">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>



    <application
        android:allowBackup="true"
        android:icon="@mipmap/vaca"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/vaca"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gcoole">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CRUD.CadastroProdutor"
            android:label="Cadastro de Produtores"
            />
        <activity
            android:name=".Activity_Produtor"
            android:label="Produtor Cadastrado"
            />
        <activity android:name=".Listviews.ListviewProdutor"
            android:label="Produtores Cadastrados"/>
        <activity android:name=".CRUD.EditarProdutor"
            android:label="Editar Produtor"/>
        <activity android:name=".Listviews.ListviewsVaca"
            android:label="Vacas Cadastradas"/>
        <activity android:name=".CRUD.CadastroVaca"
            android:label="Cadastro de Vaca"/>
        <activity android:name=".Activity_Vaca"
            android:label="Vaca Cadastrada"/>
        <activity android:name=".CRUD.EditarVaca"
            android:label="Editar Vaca"/>
        <activity android:name=".CRUD.InserirProducao"
            android:label="Inserir Produção"/>
        <activity android:name=".Listviews.ListviewProdutorParaProducao"
            android:label="Selecione um Produtor"/>
        <activity android:name=".Listviews.Listview_Producao_Por_Produtor"
            android:label="Produções"/>
        <activity android:name=".Activity_Producao"
            android:label="Editar Produção"/>
        <activity android:name=".CRUD.EditarProducao"
            android:label="Editar Produção" />
        <activity android:name=".Listviews.Listview_Valor_Por_Litro"
            android:label="Valor do Litro Mensal"/>
        <activity android:name=".CRUD.InserirValorPorLitro"
            android:label="Inserir Valor do Litro Mensal"/>
        <activity android:name=".Activity_Valor_Por_Litro"
            android:label="Edição do Valor Mensal"/>
        <activity android:name=".CRUD.EditarValorPorLitro"
            android:label="Editar Valor Mensal"/>
        
        <provider
            android:authorities="com.example.gcoole.Listviews"
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/providers"/>
        </provider>

    </application>

</manifest>